@*Page: AddUser.cshtml
    * Date: November 20, 2013
    * Purpose: Takes in a blank user object, allows user to populate form with its data and submit it
*@
@model CompanyPortal.Models.AddVoteOptionPage
@{
    ViewBag.Title = "Add Vote Options";
    Layout = "~/Views/Shared/_Layout.cshtml";
    
}

<div class="jumbotron">
    <h1>Add Vote</h1>
</div>

<div class="row">
    <div class="col-md-12">

        @using (Html.BeginForm("", "Admin/AddVoteOptions"))
        {
            if (Model != null)
            {
                @Html.HiddenFor(x => x.voteID)
                if (Model.options.Count() > 0)
                {
                    for (int i = 0; i < Model.options.Count; i++)
                    {
                        @Html.HiddenFor(x => x.options[i].VoteOptionID)
                        @Html.LabelFor(x => x.options[i].OptionText, "Option " + (i + 1) + ":")
                        @Html.EditorFor(x => x.options[i].OptionText)
                        <br />
                    }
                    <p>
                        <input type="submit" value="Add Vote Options" />
                    </p>
                }
            }
        }

    </div>
</div>
