@*Page: Index.cshtml
    * Date: November 20, 2013
    * Purpose: Takes in a hybrid object to populate tables with the company data and all the user information
    *          Also displays buttons to Edit Company Info, Add a user and reset the company password
*@
@{
    ViewBag.Title = "Company Info";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="jumbotron">
    <h1>Admin</h1>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Update Company Info</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="/Admin/EditCompany">Update Company &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Update User Information</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update 
        libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="/Admin/EditUser">Update User &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Add User</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="/Admin/AddUser">Add User &raquo;</a></p>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Update Vote</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="/Admin/UpdateVote">Update Vote&raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Add Vote</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="/Admin/AddVote">Add Vote &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Edit News</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="/Admin/AddUser">Edit News &raquo;</a></p>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Add News</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="/Admin/AddNews">Add News &raquo;</a></p>
    </div>
</div>