@using Microsoft.AspNet.Identity
@if (Session["id"] != null)
{
    using (Html.BeginForm("LogOut", "Registration", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()

    <ul class="nav navbar-nav navbar-right">
        <li>
            @Html.ActionLink("Hello " + Session["UserName"] + "!", "Manage", "Account", routeValues: null, htmlAttributes: new { title = "Manage" })
        </li>
        <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
    </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Register", "Register", "Registration")</li>
        <li>@Html.ActionLink("Log in", "Login", "Registration")</li>
    </ul>
}
